body {
    color: white;
    font-size: 25px;
}

div {
    text-align: center;
}

.box-one {
    height: 200px;
    width: 200px;
    /* margin-bottom: 20px; */
    border: 1px solid black;
    background-image: linear-gradient(red, blue, yellow);
}

.box-two {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    background-image: linear-gradient(to top, black, yellow, teal, blue);
}

.box-three {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient(to left, hotpink, blue);
}

.box-four {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient(to right, hotpink, blue);
}

.box-five {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient( to top left, hotpink, blue);
}

.main-one,
.main-two {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.box-two-one {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient( to top right, hotpink, blue);
}

.box-two-two {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient( to bottom right, hotpink, blue);
}

.box-two-three {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: linear-gradient( to bottom left, hotpink, blue);
}

.box-two-four {
    height: 200px;
    width: 200px;
    /* margin-top: 20px; */
    border: 1px solid black;
    background-image: repeating-linear-gradient(red 20%, green 25%, blue 30%, hotpink 35%);
}

.main-three {
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: red;
    padding: 20px;
}

.box-three-one {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-image: linear-gradient(rgb(12, 25, 45, .6), rgb(25, 80, 64, .8));
}

.box-three-two {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-image: linear-gradient(hotpink, yellow);
    opacity: .5;
}